<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu execute="openbox-menu lxde-applications.menu" id="desktop-app-menu" label="应用程序"/>
	<menu id="root-menu" label="OpenBox 3">
		<separator label="Archlive"/>
		<menu id="desktop-app-menu"/>
		<menu id="client-list-menu"/>
		<menu id="39" label="系统设置">
			<item label="Openbox设置">
				<action name="Execute">
					<execute>
					obconf
					</execute>
				</action>
			</item>
			<item label="菜单编辑">
				<action name="Execute">
					<execute>
						obmenu
					</execute>
				</action>
			</item>
			<item label="快捷方式设置">
				<action name="Execute">
					<execute>
					obkey
					</execute>
				</action>
			</item>
			<menu id="40" label="选择 Panel">
				<item label="Lxpanel自动隐藏">
					<action name="Execute">
						<execute>
							~/.config/scripts/lxpanel.sh sethidden
						</execute>
					</action>
				</item>
				<item label="Lxpanel固定">
					<action name="Execute">
						<execute>
							~/.config/scripts/lxpanel.sh setnohide
						</execute>
					</action>
				</item>
				<item label="FBpanel自动隐藏">
					<action name="Execute">
						<execute>
						~/.config/scripts/fbpanel.sh sethidden
						</execute>
					</action>
				</item>
				<item label="FBpanel固定">
					<action name="Execute">
						<execute>
						~/.config/scripts/fbpanel.sh setnohide
						</execute>
					</action>
				</item>
				<item label="Tint2自动隐藏">
					<action name="Execute">
						<execute>
						~/.config/scripts/tint2.sh sethidden
						</execute>
					</action>
				</item>
				<item label="Tint2固定">
					<action name="Execute">
						<execute>
						~/.config/scripts/tint2.sh setnohide
						</execute>
					</action>
				</item>
			</menu>
			<menu id="41" label="视觉效果">
				<item label="禁用视觉效果">
					<action name="Execute">
						<execute>
						~/.config/scripts/xcompmgr.sh unset
						</execute>
					</action>
				</item>
				<item label="窗口透明">
					<action name="Execute">
						<execute>
						~/.config/scripts/xcompmgr.sh set
						</execute>
					</action>
				</item>
				<item label="透明+渐隐">
					<action name="Execute">
						<execute>
						~/.config/scripts/xcompmgr.sh setshaded
						</execute>
					</action>
				</item>
				<item label="透明+渐隐+阴影">
					<action name="Execute">
						<execute>
						~/.config/scripts/xcompmgr.sh setshadowshade
						</execute>
					</action>
				</item>
			</menu>
			<menu id="39-53221" label="Cairo Dock">
				<item label="停用">
					<action name="Execute">
						<execute>
							killall cairo-dock
						</execute>
					</action>
				</item>
				<item label="启用">
					<action name="Execute">
						<execute>
							cairo-dock -c
						</execute>
					</action>
				</item>
			</menu>
			<menu id="42" label="桌面图标">
				<item label="显示桌面图标">
					<action name="Execute">
						<execute>
						~/.config/scripts/deskicons.sh seticons
						</execute>
					</action>
				</item>
				<item label="禁用桌面图标">
					<action name="Execute">
						<execute>
						~/.config/scripts/deskicons.sh setnoicons
						</execute>
					</action>
				</item>
			</menu>
			<menu id="43" label="声音图标">
				<item label="显示">
					<action name="Execute">
						<execute>
						~/.config/scripts/volumeicon.sh set
						</execute>
					</action>
				</item>
				<item label="隐藏">
					<action name="Execute">
						<execute>
						~/.config/scripts/volumeicon.sh unset
						</execute>
					</action>
				</item>
			</menu>
			<menu id="44" label="电池电量图标">
				<item label="显示">
					<action name="Execute">
						<execute>
						~/.config/scripts/batterymon.sh set
						</execute>
					</action>
				</item>
				<item label="隐藏">
					<action name="Execute">
						<execute>
						~/.config/scripts/batterymon.sh unset
						</execute>
					</action>
				</item>
			</menu>
			<item label="重新载入Openbox">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<item label="终端">
			<action name="Execute">
				<execute>
					lxterminal
				</execute>
			</action>
		</item>
		<separator/>
		<item label="重新启动">
			<action name="Execute">
				<execute>
					dbus-send --system --print-reply --dest=&quot;org.freedesktop.ConsoleKit&quot; /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Restart
				</execute>
			</action>
		</item>
		<item label="挂起">
			<action name="Execute">
				<execute>
					dbus-send --print-reply --system --dest=org.freedesktop.UPower /org/freedesktop/UPower org.freedesktop.UPower.Suspend
				</execute>
			</action>
		</item>
		<item label="关机">
			<action name="Execute">
				<execute>
					dbus-send --system --print-reply --dest=&quot;org.freedesktop.ConsoleKit&quot; /org/freedesktop/ConsoleKit/Manager org.freedesktop.ConsoleKit.Manager.Stop
				</execute>
			</action>
		</item>
		<item label="退出">
			<action name="Exit">
				<prompt>
					yes
				</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
